@use 'styles/variables' as *;

.main {
    padding: $general-padding-xl;

    &__title-container {
        margin: 0 auto $space-xxxl auto;
        max-width: 653px;
        text-align: center;
    }

    &__title {
        margin-bottom: $space-xl;
    }

    &__subtitle {
        margin-bottom: $space-xxs;
    }

    &__controls-сontainer {
        margin-bottom: $space-xxxl;
    }

    &__controls-group {
        display: flex;
        gap: $space-xl;
        margin-bottom: $space-xl;
    }

    &__filter {
        max-width: 300px;
    }

    &__content-title-container {
        margin-bottom: $space-xxl;

        display: flex;
        align-items: center;
        gap: $space-xl;
    }

    &__content-title {
        font-size: 32px;
        line-height: 48px;
    }

    &__card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: $card-gap;
    }

    &__paggination {
        margin: $space-xxxl auto;
    }

    @include xl{
        padding: $general-padding-xl;
    }

    @include lg{
        padding: $general-padding-md;
    }

    @include sm{
        padding: $general-padding-sm;
    }

    @include xs {
        padding: $general-padding-sm $general-padding-xs;

        &__controls-group {
            gap: $space-xl 0;
        }
    }
}

.serch-button{
    &__text{
        display: inline;
    }
    &__icon{
        display: none;
        
    }

    @include sm{
        padding: 12px;

        &__text{
            display: none;
        }
        &__icon{
            display: block;
            @include square(28px) 
        }  
    }
}