@import 'styles/variables';

.main {
    padding: 100px;
}

.titleContainer {
    margin: 0 auto 48px auto;
    max-width: 653px;
    text-align: center;
}

.title {
    margin-bottom: $space-xl;
}

.subtitle {
    margin-bottom: $space-xxs;
}

.controlsContainer {
    margin-bottom: 48px;
}

.controlsContainerGroup {
    display: flex;
    gap: $space-xl;
    margin-bottom: $space-xl;
}

.filter {
    max-width: 300px;
}

.contentTitleContainer {
    margin-bottom: 32px;

    display: flex;
    align-items: center;
    gap: $space-xl;
}

.contentTitle {
    font-size: 32px;
    line-height: 48px;
}

.contentContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 80px;
}

.paggination {
    margin: 48px auto;
}