@import '../variables.css';

.button {
    padding: 0 20px;
    height: 52px;
    background-color: var(--brand);
    border: none;
    color: var(--button-primary-text);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--space-xxs);
}

.button:hover {
    background-color: var(--button-primary-bg-hover);
    color: var(--button-primary-text-hover);
}

.button.loading:hover:not(.button:disabled, .button[disabled]) {
    background-color: var(--button-primary-bg);
    color: var(--button-primary-text-hover);
}

.button:disabled,
.button[disabled] {
    background-color: var(--button-primary-bg-disabled);
    color: var(--button-primary-text-disabled);
}

.button:active {
    background-color: var(--button-primary-bg-active);
    color: var(--button-primary-text-active);
}