@use './variables.scss' as *;
@import './Roboto/fonts.css';

html, body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  background-color: $color-bg-main;
  color: $text-primary;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}

main {
  max-width: $general-max-width;

  padding: $general-padding-xl;

  @include xl {
    padding: $general-padding-xl;
  }

  @include lg {
    padding: $general-padding-md;
  }

  @include sm {
    padding: $general-padding-sm;
  }
}