@import './breakpoints.scss';

$brand: #518581;
$brand-hover: #86AAA7;
$brand-active: #487773;

$space-xxxl: 48px;
$space-xxl: 32px;
$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;

$card-gap: 30px 80px;

$shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

/* Layout */
$color-bg: #FFFFFF;
$color-bg-header: $color-bg;
$color-bg-main: #FAFAFA;
$color-bg-footer: #000000;

$color-bdc-header: #F3F3F3;

$header-height-xl: 90px;
$header-height-lg: 90px;
$header-height-md: 50px;

$general-padding-xl: 100px;
$general-padding-lg: 60px;
$general-padding-md: 50px;


/* Loader */
$loader-bg: $brand;

/* Text & Icon */
$text-primary: #000000;
$text-secondary: #AFADB5;
$text-accent: $brand;

/* Button */
$button-primary-bg: $brand;
$button-primary-bg-hover: $brand-hover;
$button-primary-bg-disabled: #D9D9D9;
$button-primary-bg-active: $brand-active;

$button-primary-text: #FFFFFF;
$button-primary-text-hover: #FFFFFF;
$button-primary-text-disabled: #FFFFFF;
$button-primary-text-active: #FFFFFF;

$checkbox-bg-hover: #FFFFFF;
$checkbox-bg-disabled: #FFFFFF;
$checkbox-check-disabled: rgba(0, 0, 0, 0.2);

/* Card */
$card-image-bg: #D9D9D9;
$card-bg: #FFFFFF;

/* Input */
$input-text: #000000;
$input-bg: #FFFFFF;
$input-placeholder: #AFADB5;
$input-border: #FFFFFF;
$input-bg-focus: #FFFFFF;
$input-border-focus: $brand;
$input-text-focus: #000000;
$input-bg-disabled: #FFFFFF;
$input-border-disabled: #FFFFFF;
$input-text-disabled: rgba(0, 0, 0, 0.2);

/* Dropdown */
$dropdown-options-bg: #FFFFFF;

/* Pagination */
$color-index: currentColor;
$color-index-active: #FFFFFF;



@mixin square($size, $border-radius: none){
    width: $size;
    height: $size;

    @if ($border-radius != none){
        border-radius: $border-radius;
    }
}

@mixin transition-default(
    $property-name: all,
){
    transition: $property-name 0.3s ease 0s normal
}


// TODO - dark theme
/* @media (prefers-color-scheme: dark){
    :root{
        $color-bg:#2f2f2f;
        $color-bg-header: $color-bg;
        $color-bg-main: #232323;
        $color-bg-footer: #000000;

        $color-bdc-header: #363636;
    }
} */