@use 'styles/variables' as *;

.back-button {
    height: 48px;

    display: flex;
    align-items: center;
    gap: 25px;

    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;

    transition: 0.3;
}