@use 'styles/variables' as *;

.main {
    padding: $general-padding-xl;
    padding-top: $general-padding-lg;
    // max-width: 1501px;

    &__back {
        margin-bottom: $space-xxl;
    }

    &__product-info {
        margin-bottom: $space-xxxl;
    }

    &__reletad-items-title {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: $space-xxl;
    }

    &__related-items-container {
        display: flex;
        gap: $card-gap;
        flex-wrap: wrap;
        justify-content: start;
    }


    @include xl {
        padding: $general-padding-xl;
    }

    @include lg {
        padding: $general-padding-lg;
    }

    @include md {
        padding: $general-padding-md;

        &__product-info {
            flex-wrap: wrap;
        }

        &__related-items-container{
            justify-content: center;
        }
    }

    @include sm {
        padding: $general-padding-sm;    
    }
    
    @include xs {
        padding: $general-padding-sm $general-padding-xs;    
    }
}