@import 'styles/variables';

.main {
    padding: $general-padding-lg $general-padding-xl $general-padding-xl $general-padding-xl;
    max-width: 1501px;
}

.back-button {
    margin-bottom: $space-xxl;
}

.product-info {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: $space-xxxl;
    margin-bottom: $space-xxxl;

    &__description {
        max-width: 653px;
    }

    &__title {
        margin-bottom: $space-xl;
    }

    &__subtitle {
        margin-bottom: calc($space-l * 4);
    }

    &__price {
        margin-bottom: $space-xxxl;
    }
}

.reletad-items-title {
    font-size: 32px;
    margin-bottom: $space-xxl;
}

.related-items-container {
    display: flex;
    gap: $card-gap;
    flex-wrap: wrap;
}

@media (max-width: 992px) {
    .main {
        padding: $general-padding-lg;
    }
}

@media (max-width: 768px) {
    .main {
        padding: $general-padding-md;
    }

    .product-info {
        flex-wrap: wrap;
    }
}