@import 'styles/variables';

.multi-dropdown {
  $self: &;

  position: relative;
  width: 100%;

  &__options {
    position: absolute;
    left: 0;
    width: 100%;
    top: calc(100% + #{$space-xxs});
    background-color: $dropdown-options-bg;
    box-shadow: $shadow;
    // border-radius: $border-radius;
  }

  &__option {
    cursor: pointer;
    padding: $space-s $space-xs;
    color: $text-primary;
    transition: color 0.3s ease;
    display: block;
    appearance: none;
    border: none;
    outline: none;
    background: none;

    &:hover {
      color: $text-secondary;
    }

    &_selected {
      color: $text-accent;
    }
  }
}

/* @import '../variables.css';

.multiDropdownContainer {
    position: relative;
    width: max-content;
}


.dropdownList {
    position: absolute;
    top: 60px;
    left: 0;

    width: 100%;

    background-color: var(--dropdown-options-bg);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.option {
    height: 48px;
    padding: var(--space-xs) var(--space-xs);
    cursor: pointer;

    color: var(--text-primary);
}

.selectedOption {
    color: var(--text-accent);
}

.noOptions {
    height: 48px;
    padding: var(--space-xs) var(--space-xs);
    cursor: not-allowed;
} */