@use 'styles/variables' as *;

.product-info {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: $space-xxxl;

    &__description {
        max-width: 653px;
    }

    &__title {
        margin-bottom: $space-xl;
    }

    &__subtitle {
        margin-bottom: calc($space-l * 4);
    }

    &__price {
        margin-bottom: $space-xxxl;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: $space-xl $space-xxxl;
    }

    &__button {
        padding-left: $space-xxl;
        padding-right: $space-xxl;
    }

    &__button_add-to-cart {
        background-color: transparent;
        color: $text-primary;
        border: 1px solid $text-primary;

        &:hover {
            border-color: $button-primary-bg-hover;
        }
    }


    // @include xl {
    //     &__subtitle {
    //         margin-bottom: $space-xxxl;
    //     }
    
    //     &__price {
    //         margin-bottom: $space-xxl;
    //     }
    // }
}