@use 'styles/variables' as *;

.product-info {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: $space-xxxl;

    &__description {
        max-width: 653px;
    }

    &__title {
        margin-bottom: $space-xl;
    }

    &__subtitle {
        margin-bottom: calc($space-l * 4);
    }

    &__price {
        margin-bottom: $space-xxxl;
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: $space-xl $space-xxxl;
    }

    &__button {
        padding-left: $space-xxl;
        padding-right: $space-xxl;
    }

    &__button_add-to-cart {
        background-color: transparent;
        color: $text-primary;
        border: 1px solid $text-primary;

        &:hover {
            border-color: $button-primary-bg-hover;
        }
    }

    &__button_go-to-cart {
        text-decoration: none;
        width: max-content;
        height: 52px;
        background-color: $brand;
        border: none;
        color: $button-primary-text;
        cursor: pointer;
        
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        white-space: nowrap;
        gap: $space-xxs;

    
        &:hover {
            background-color: $button-primary-bg-hover;
            color: $button-primary-text-hover;
        }
    }


    // @include xl {
    //     &__subtitle {
    //         margin-bottom: $space-xxxl;
    //     }
    
    //     &__price {
    //         margin-bottom: $space-xxl;
    //     }
    // }
}

.cart-quantity{display: flex;
    align-items: center;
    gap: $space-s;
    // margin: $space-s 0;

    &__button {
        width: 44px;
        height: 44px;
        padding: $space-xxs $space-s;
        border: 1px solid $text-primary;
        background-color: $color-bg;
        cursor: pointer;
        color: $text-primary;
        font-size: 18px;
            line-height: 18px;
        font-weight: 600;

        &:hover {
            color: white;
            background-color: $brand;
            border-color: $brand;
        }
    }
}